@font-face {
    font-family: 'My Font';
    src: url('Deco.otf');
  }
  
  body {
    font-family: monospace, sans-serif;
    background-color: #8B4513;
  }

  h1 {
    font-family: 'My Font';
    font-size: 100px;
  }