@font-face {
  font-family: "My Font";
  src: url("Deco.otf");
}

body {
  font-family: monospace, sans-serif;
  background: url("boiler.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #71380f;
}

h1 {
  font-family: "My Font";
  font-size: 100px;
  background-color: rgba(142, 67, 14, 0.9);
  box-shadow: inset -8px -8px 25px #250f00,
    inset 8px 8px 25px #250f00, 2px 2px 8px #271509,
    -1px -1px 8px #271509;
  padding: 25px;
  margin-left: 15px;
  width: fit-content;
  border-radius: 20px;
}

p {
    margin: 5px;
}

#stats {
  display: flex;
  flex-direction: row;
}

#miners, #rewards, #hashing,
#workers-info {
  background-color: rgba(142, 67, 14, 0.9);
  box-shadow: inset -8px -8px 25px #250f00,
    inset 8px 8px 25px #250f00, 2px 2px 8px #271509,
    -1px -1px 8px #271509;
  padding: 25px;
  margin: 10px;
  width: fit-content;
  border-radius: 20px;
}

#workers-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.ok,
.off {
  padding: 5px;
  border-radius: 3px;
  font-family: monospace;
  background-color: #250f00;
  color: green;
}

.off {
  color: red;
}

#lines {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.little {
  font-size: 10px;
  line-height: 10px;
  margin: 2px;
}

@media screen and (max-width: 968px) {
  #stats {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  #stats {
    flex-direction: column;
  }
  h1 {
    font-size: 40px;
    margin: 10px 5px 10px 5px;
    padding: 15px;
  }
  p {
    margin: 1px;
    font-size: 12px;
  }

  #miners, #rewards, #hashing,
  #workers-info {
    padding: 15px;
    margin: 10px;
  }

  .ok,
  .off {
    padding: 3px;
    font-size: 8px;
  }

  #lines {
      display: flex;
      flex-direction: rows;
      justify-content: space-between;
  }
}